.element {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.element:last-child {
  margin-bottom: 0;
}

.element_fullwidth {
  max-width: 536px;
  width: 100%;
  flex-direction: column;
  display: flex;
}