.order {
  display: block;
  min-width: 576px;
  padding: 24px;
  margin-bottom: 16px;
  margin-right: 8px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  background-color: #1c1c21;
  border-radius: 40px;
}

.order_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order_name {
  margin-top: 24px;
  text-align: left;
}

.order_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.ingredients {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.img_wrap {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #1c1c21;
  border: 2px solid #801ab3;
}

.img_wrap:not(:first-child) {
  margin-left: -20px;
}

.img {
  position: absolute;
  width: 112px;
  height: 56px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.remains {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.order_total {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  vertical-align: top;
}