.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 1240px;
  overflow: hidden;
}

.containerMain {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.columnInfo {
  width: 580px;
  overflow-y: auto;
  overflow-x: hidden;
}

.titleBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1240px;
}

.columnOrders {
  width: 608px;
}